Introduction_course_cpp/module_arifm/*
Introduction_course_cpp/module_types_data/*
Introduction_course_cpp/module_zelaya_arifm/*
Introduction_course_cpp/module_if/*

introduction_in_machile_learning/**/.ipynb_checkpoints/*
!*.cpp
